<!-- THE INFO NAV ABOVE THE MAIN NAV BAR -->
<div class="info-nav">
  <article class="location-info">
    <div class="city">
      <i class="fas fa-map"></i>
      <span>Kyiv, Ukraine</span>
    </div>

    <div class="date">
      <i class="fas fa-calendar"></i>
      <span class="full-date">
        <p id="week-day-name"></p>
        <p id="month-day-number"></p>
        <p id="month-name"></p>
        <p id="year"></p>
      </span>
    </div>

    <div class="time">
      <i class="fas fa-clock"></i>
      <span class="time-clock"></span>
    </div>
  </article>

  <!-- SOCIAL ICONS SECTION -->
  <article class="social-icons">
    <div>
      <i class="fab fa-facebook"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-snapchat"></i>
      <i class="fab fa-linkedin"></i>
    </div>
  </article>
</div>

<!-- THE MAIN NAV BAR SECTION -->
<nav class="navbar">
  <!-- NAV LOGO -->
  <div class="nav-logo">
    <a href="/">
      <span class="outer-logo">Fashion<span class="inner-logo">Bit</span>
    </a>
  </div>

  <!-- NAV MENU -->
  <div class="nav-menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/archive">Archive</a></li>
      <li><a href="/add-blog">Add Blog</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>

  <!-- NAV TOGGLE -->
  <div class="toggle">
    <i class="fas fa-bars"></i>
  </div>
</nav>