<!-- HTML MARKUP FOR THE HOME PAGE ABOUT SECTION -->
<section class="home-abt">
  <div class="home-abt-gallery">
    <div class="abt-gallery-first"></div>
    <div class="abt-gallery-second"></div>
    <div class="abt-gallery-third"></div>
    <div class="abt-gallery-fourth"></div>
    <div class="abt-gallery-fifth"></div>
  </div>

  <div class="home-abt-info">

    <article>
      <div class="first"></div>
      <div class="second"></div>
      <div class="third"></div>
      <div class="fourth"></div>
    </article>
  
    <article>
  
      <h2>About Us</h2>
      <p>Welcome to FashionBit where we provide you with the best platform for your blog articles, customizable accessible and responsive layouts,
      high definition crispy
      clear picture uploads. and responsive layout which is easily viewed on all devices worldwide.</p>
      <ul>
        <li><i class="fas fa-map"></i>WorldWide Accessiblity</li>
        <li><i class="fas fa-mobile"></i>Responsive Platform</li>
        <li><i class="fas fa-share-square"></i> Share Blog Posts</li>
        <li><i class="fas fa-poll"></i> Keep Up With Trends</li>
      </ul>
      <p>FashionBit provides a platform for you to show and display your opinion on various popular fashion trends and even give suggestion
      on forward going alternatives.</p>

      <button><a href="/about">Read More</a></button>
    </article>
  </div>

  
</section>