<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/nav.ejs') %>

  <!-- HTML MARKUP FOR THE ABOUT PAGE -->
  <section class="about-body">
    <article class="about-info">
      <div>
        <article>
          <i class="fas fa-lightbulb"></i>
        </article>

        <article>
          <h4>Stunning Visuals</h4>
          <p>FashionBit provides you with the best platform for your blog articles, customizable layouts, high definition crispy clear picture uploads. and responsive layout .</p>
        </article>
      </div>

      <div>
        <article>
          <i class="fas fa-poll"></i>
        </article>
      
        <article>
          <h4>Fashion Trends</h4>
          <p>Keeping you updated with blogs and articles about the popular and latest trends, news and updates going on in the fashion industry ranging from male, female and child articles.</p>
        </article>
      </div>

      <div>
        <article>
          <i class="fas fa-map"></i>
        </article>
      
        <article>
          <h4>Responsive, Accessible</h4>
          <p>Our website layout is both responsive and accessible to accomodate all your articles and blog layout , making it easy to be viewed in all devices and from all locations</p>
        </article>
      </div>

    </article>

    <article class="about-description">
      <div class="about-description-image"></div>
      <div class="about-description-text">
        <h2>Welcome to Fashion<span style="color: var(--secondary-text-color)">Bit</span> where we keep you updated about all the latest and popular fashion trends</h2>

        <p>FashionBit provides you with the best platform for your blog articles, customizable accessible and responsive layouts,  high definition crispy
        clear picture uploads. and responsive layout which is easily viewed on all devices worldwide.</p>

        <div class="about-description-text-icon">

          <article>
            <i class="fas fa-microphone"></i>
            <h4>Give your opinion on what fashion should be</h4>
            <p>FashionBit provides a platform for you to show and display your opinion on various popular fashion trends and even give suggestion on forward going alternatives.</p>
          </article>

          <article>
            <i class="fas fa-share-square"></i>
            <h4>Share your Fashion blog article with friends</h4>
            <p>Not only can you share your opinion but you can share also your blog post with friends, family and people world wide through our connected platform.</p>
          </article>
        </div>
      </div>
    </article>
  </section>

  <%- include('../partials/footer.ejs') %>
</body>
</html>