<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>
  <!-- THE NAVIGATION BAR -->
  <%- include('../partials/nav.ejs') %>

  <!-- THE EDIT FORM SECTION -->
  <div class="edit-form">
    <%- include("../partials/edit-blog/edit-blog-form.ejs") %>
  </div>

  <!-- THE FOOTER SECTION -->
  <%- include('../partials/footer.ejs') %>
</body>
</html>