.home-abt {
  background-color: var(--primary-bg);
  display: grid;

  .home-abt-gallery {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;

    div {
      padding: 130px 0;
      background-size: cover;
    }

    .abt-gallery-first {
      background-image: url("https://images.pexels.com/photos/2315309/pexels-photo-2315309.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    }

    .abt-gallery-second {
      background-image: url("https://images.unsplash.com/photo-1508558781963-e755203a989d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
    }

    .abt-gallery-third {
      background-image: url("https://images.pexels.com/photos/871495/pexels-photo-871495.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-position: bottom center;
    }

    .abt-gallery-fourth {
      background-image: url("https://images.pexels.com/photos/2764679/pexels-photo-2764679.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-position: center;
    }

    .abt-gallery-fifth {
      background-image: url("https://images.pexels.com/photos/3563782/pexels-photo-3563782.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    }

    @media screen and (max-width: 1000px) {
      grid-template-columns: 50% 50%;
      .abt-gallery-third {
        display: none;
      }

      .abt-gallery-first {
        background-position: center;
      }
    }
  }

  .home-abt-info {
    display: grid;
    grid-template-columns: 50% 48%;
    column-gap: 10px;
    width: 74%;
    margin: 0 auto;

    article:first-child {
      display: grid;
      padding: 70px 0;
      grid-template-areas:
        "abt-first abt-first abt-fourth abt-fourth"
        "abt-second abt-second abt-third abt-third";
      row-gap: 10px;
      column-gap: 10px;

      div {
        background-size: cover;
        padding: 120px 0;
      }

      div:first-child {
        grid-area: abt-first;
        background-image: url("https://images.pexels.com/photos/3760818/pexels-photo-3760818.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
      }

      div:nth-child(2) {
        grid-area: abt-second;
        background-image: url("https://images.pexels.com/photos/1850287/pexels-photo-1850287.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      }

      div:nth-child(3) {
        grid-area: abt-third;
        background-image: url("https://images.pexels.com/photos/3756859/pexels-photo-3756859.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
      }

      div:nth-child(4) {
        grid-area: abt-fourth;
        background-image: url("https://images.pexels.com/photos/432059/pexels-photo-432059.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      }
    }

    article:last-child {
      padding: 100px 0 0 10px;

      h2 {
        color: var(--primary-text-color);
        font-size: 35px;
      }

      p {
        font-size: 20px;
        color: var(--primary-text-color);
        line-height: 1.3;
        padding-bottom: 10px;
      }

      ul {
        padding-bottom: 10px;
        list-style: url("");

        li {
          font-style: italic;
          color: var(--quatenary-text-color);
          font-weight: lighter;
          line-height: 1.2;
          display: grid;
          grid-template-columns: 8% 90%;
        }
      }

      button {
        padding: 10px 20px;
        border: none;
        background-color: var(--secondary-text-color);
        color: var(--primary-text-color);
        cursor: pointer;

        :hover {
          box-shadow: 0 2px 0 var(--secondary-text-color);
        }
      }
    }

    @media only screen and (max-width: 1000px) {
      grid-template-columns: 100%;
      width: 90%;

      article:first-child div {
        background-position: center;
      }

      article:last-child {
        padding: 10px 0 50px;
      }
    }
  }
}
