// THE STYLE SHEET FOR THE BLOG-DETAIL PAGE

#detail-banner {
  background-image: var(--quatenary-gradient),
    url("https://images.pexels.com/photos/3854884/pexels-photo-3854884.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: 0 35%;
  padding: 100px 0;

  h3 {
    color: var(--quinary-text-color);
    font-size: 35px;
    text-align: center;
    text-shadow: 0 2px 12px var(--primary-text-color);
  }
}

.detail-container {
  display: grid;
  width: 74%;
  margin: 30px auto;
  padding-bottom: 100px;
  grid-template-columns: 68% 30%;
  align-items: flex-start;
  column-gap: 10px;

  .blog-detail-info {
    box-shadow: 1px 1px 5px var(--quatenary-text-color);

    .blog-detail-featured-image {
      padding: 200px;
      background-size: cover;
    }

    .blog-title {
      font-size: 30px;
      padding: 30px 5px 10px;
      color: var(--primary-text-color);
    }

    .blog-detail-author-box {
      display: grid;
      grid-template-columns: 15% 60%;
      padding-bottom: 20px;
      padding-left: 5px;

      .author-box-image {
        padding: 55px;
        background-size: cover;
        border-radius: 50%;
      }

      .author-box-text {
        padding: 30px 20px;
        p {
          font-size: 18px;
        }
      }

      @media only screen and (max-width: 800px) {
        column-gap: 40px;
      }
    }

    .blog-description {
      font-size: 18px;
      line-height: 2.5;
      color: var(--tetiary-text-color);
      padding: 0 5px;
    }

    .edit-del-buttons {
      padding: 30px 5px 40px;

      .detail-edit-button,
      .detail-del-button {
        padding: 10px 20px;
        color: var(--quinary-text-color);
        background-color: var(--secondary-text-color);
        transition: all ease 0.5s;
      }

      .detail-edit-button:hover,
      .detail-del-button:hover {
        box-shadow: 0 2px 0 var(--secondary-text-color);
        transition: all ease 0.5s;
      }
    }

    form {
      background-color: var(--primary-text-color);
      padding: 20px 10px;
      h3 {
        color: var(--secondary-text-color);
        padding: 0 0 20px;
        font-size: 25px;
      }

      .names {
        display: grid;
        grid-template-columns: 49% 49%;
        justify-content: space-between;
      }

      .comment-form-group {
        padding-bottom: 20px;
        label {
          color: var(--secondary-text-color);
          display: block;
        }

        input {
          display: block;
          width: 100%;
          padding: 10px 4px;
          margin-top: 10px;
        }

        textarea {
          display: block;
          width: 100%;
          height: 100px;
          padding: 10px 4px;
        }

        button[type="submit"] {
          background: var(--secondary-text-color);
          padding: 10px 20px;
          border: none;
          color: var(--quinary-text-color);
          font-size: 17px;
        }
      }
    }
  }

  @media screen and (max-width: 1300px) {
    width: 95%;
    justify-content: center;
  }

  @media screen and (max-width: 950px) {
    grid-template-columns: 90%;
    row-gap: 30px;
  }
}
